header {
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: center;
}
main{
  font-size: 0;
  text-align: center;
}

button{


  margin-top: 30px;

}

.column {
display: inline-block;
vertical-align: top;
}

.square{
  width: 100px;
  height: 100px;
  /*background-color: darkgrey;*/
}

.square img{
  width: 100%;


}

#topLeft {
  border-right: 5px solid;
  border-bottom: 5px solid;
}

#topCenter {
  border-bottom: 5px solid;
  border-color: black;
}

#topRight {
  border-bottom: 5px solid;
  border-left: 5px solid;
  border-color: black;
}

#middleLeft {
  border-right: 5px solid;
  border-color: black;
}

#middleCenter {
  border-color: black;
}

#middleRight {
  border-left: 5px solid;
  border-color: black;
}

#bottomLeft {
  border-top: 5px solid;
  border-right: 5px solid;
  border-color: black;
}

#bottomCenter {
  border-top: 5px solid;
  border-color: black;
}

#bottomRight {
  border-top: 5px solid;
  border-left: 5px solid;
  border-color: black;
}
